
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title> - 项目</title>
    <meta name="keywords" content="">
    <meta name="description" content="">

    <link rel="shortcut icon" href="favicon.ico"> 
    <link href="__ADMIN__/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="__ADMIN__/css/font-awesome.min93e3.css" rel="stylesheet">

    <link href="__ADMIN__/css/animate.min.css" rel="stylesheet">
    <link href="__ADMIN__/css/style.min.css?v=4.1.0" rel="stylesheet">
    <style>
        
    </style>

</head>

<body class="gray-bg">

    <div class="wrapper wrapper-content animated fadeInUp">
        <div class="row">
            <div class="col-sm-12">

                <div class="ibox">
                    <div class="ibox-content">
                        <div class="row m-b-sm m-t-sm">
                            <div class="col-md-1">
                                <button type="button" id="loading-example-btn" class="btn btn-white btn-sm"><i class="fa fa-refresh"></i> 刷新</button>
                            </div>
                            
                        </div>

                        <div class="project-list">

                            <table class="table table-hover">
                                <tbody>
                                    {volist name="result" id="v"}
                                        <tr>
                                            
                                            <td class="project-title">
                                                <span  class='btn 
                                                    {switch name="$v.title"}
                                                        {case value="更新状态|更新HTTPS 启用状态|更新域名验证|更新类型"}btn-warning{/case}
                                                        {case value="切换跳转开关"}btn-success{/case}
                                                        {case value="删除数据|删除图片"}btn-danger{/case}
                                                        {default/}
                                                        btn-primary
                                                    {/switch}
                                                '>{$v.title}</span>
                                                <br/>
                                                <br/>
                                                <small><i class="fa fa-clock-o"></i> {$v.create_time}</small>
                                            </td>
             
                                            <td class="project-completion" style="width: 70%;">
                                                {switch name="$v.title"}
                                                    {case value="新增数据|更新数据"}<pre style=""><code>{$v.content|htmlspecialchars}</code></pre>{/case}
                                                    {default/}
                                                    {$v.content}
                                                {/switch}
                                                   
                                                
                                            </td>
                                        </tr>
                                    {/volist}
                                    
                                    </tbody>
                                    
                                </table>
                                
                            </div>
                            <div class="row">

                                <div class="col-sm-6">
                                  <div class="dataTables_paginate paging_simple_numbers" id="editable_paginate">
                                    {$result->render()}
                                  </div>
                                </div>
                              </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

    <!-- 全局js -->
    <script src="__ADMIN__/js/jquery.min.js?v=2.1.4"></script>
    <script src="__ADMIN__/js/bootstrap.min.js?v=3.3.6"></script>


    <!-- 自定义js -->
    <script src="__ADMIN__/js/content.js?v=1.0.0"></script>


    <script>
        $(document).ready(function(){

            $('#loading-example-btn').click(function () {
                btn = $(this);
                simpleLoad(btn, true)

                // Ajax example
//                $.ajax().always(function () {
//                    simpleLoad($(this), false)
//                });

                simpleLoad(btn, false)
            });
        });

        function simpleLoad(btn, state) {
            if (state) {
                btn.children().addClass('fa-spin');
                btn.contents().last().replaceWith(" Loading");

                location.href = "{:url('liveUpdateLogsList')}";
            } else {
                setTimeout(function () {
                    btn.children().removeClass('fa-spin');
                    btn.contents().last().replaceWith(" Refresh");
                }, 2000);
            }
        }
    </script>

    

    </body>
</html>
